body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container-body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20Xx rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}
/*--------------------1--------------------*/
.carousel-item img {
    height: 890px;
    object-fit: cover;
}

/*--------------------2--------------------*/

.offers .offer-card img {
    height: 300px;
    object-fit: cover;
}

.offer-card.active {
    display: block;
    opacity: 1;
}

.offer-card a {
    text-decoration: none; /* Remove underline */
    color: black; /* Change text color to black */
}

.offer-card a:hover {
    color: gray; /* Change color on hover */
}
/* 3 */

.explores-nav {
    margin-bottom: 0; /* Remove default margin-bottom */
  }

.explore .card img {
    height: 150px;
    object-fit: cover;
}

.explore-card a {
    text-decoration: none;
    color: black;
}

.explores-nav > li:first-child,
.explores-nav > li:last-child {
    flex: 0;
}

/* 4 */

.exploration .card img {
    height: 300px;
    object-fit: cover;
}

.exploration .card {
    position: relative;
    overflow: hidden;
    border-radius: 2%;
}

.exploration .card-body {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Gradient fade from top to bottom */    
    color: #fffdfde7; /* Change text color to white */
    padding: 10px; /* Adjust padding as needed */
    text-align: left; /* Center-align text */
    width: 100%; /* Ensure the text container spans the full width of the card */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

/* Offers and Explore Section Hover Styles */
.explore-card:hover {
    color: gray; /* Gray font color */
}

/*--------------------Section 5--------------------*/
.willing {
    padding-bottom: 3%;

}

.willing img{
    height: 540px;
    border-radius: 5px;
}

.willing form{
    background-color: #1b3661; 
    flex: 1;
    margin-left: 20px;
    border-radius: 5px;
}

.willing form h1{
    color: #fff;
    font-size: 27px;
    text-align: center;
    margin-top: 20px;
}

.willing form select,input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    padding-left: 12px;
    outline: none;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.willing form p{
    text-align: left;
    color: #6dBFE2;
    margin: 8px 0 3px;
}

.willing form button{
    width: 300px;
    height: 50px;
    background-color: #6dBFE2;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease;
    margin-top: 30px;

}

.willing form button:hover{
    background-color: transparent;
    border: 1px solid #6dBFE2;
    color: #6dBFE2;
}

/*--------------------Section 6--------------------*/
.fav {
    margin-left: 0%;
    margin-right: 0%;
    padding: 5px 5px;
    flex-wrap: wrap;
    display: flex;
}

.fav-link-group {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
}

.fav-link-group a {
    align-items: left;
    text-decoration: none;
    background-color: #f8f9fa;
    color: #1b3661d3;
    font-weight: bolder;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 80px;
    transition: background-color 0.3s;
}

.fav-link-group a:hover {
    background-color: #0056b3;
    color: #f8f9fa;
}

/*------------------------------------*/

.fav-item-group {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 130%;
    padding: 11px 0 0;
    margin-left: 11.5px;
}

.fl {
    float: left;
}

.fav-item {
    width: 20%;
    margin-bottom: 25px;
}

.fav-detail {
    display: block;
    font-size: 87%;
}

.fav-item a {
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #5d6975;
}

/*--------------------Section 7--------------------*/
.whytochoose {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
}

.whytochoose img {
    align-items: center;
    width: 100%;
}

.whytochoose h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.whytochoose p {
    text-align: center;
}

.whytochoose .cont {
    display: flex;
    justify-content: space-between;
}