/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Footer Styles */
#footer {
  padding: 70px 0;
  background-color: #1b3661;
  color: #ffffff;
  text-align: left;
}

.footer-title {
  font-size: 25px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 500;
}

.footer-linklists {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.footer-linklists li a {
  color: #ffffffcc;
  text-decoration: none;
}

.contact_footer,
.policy-footer,
.about-footer,
.social-footer {
  margin-bottom: 30px;
}

.about-footer p {
  font-size: 16px;
}

.footer-social-links {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.footer-social-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social-links li:last-child {
  margin-right: 0;
}

.footer-social-links img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background-color: #ffffff;
  padding: 5px;
}

@media only screen and (max-width: 749px) {
  .main-footer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }

  .sociallogos {
    padding: 20px 0;
  }

  .com {
    padding: 20px 0;
  }

}